<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadPulse - Reggio Emilia</title>

  <!-- Leaflet CSS e JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1 style="color: #c10000">RoadPulse - Reggio Emilia</h1>
  <p>Visualizzazione della condizione delle strade di Reggio Emilia (per il momento)</p>

  <div id="map"></div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>